$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// include: "type": "scss", "baseUrl": ".", "basePath": "app/styles/", "files": ["*.scss", "!main.scss"]
@import "secondary.scss";
// /include

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.todo-done {
  text-decoration: line-through;
}
