// This file can be deleted, it's here to demonstrate that scss files are automatically
// imported to the main module.

.placeholder {
  text-align: center;
}

.dashboard-row-1 {
    height: 260px;
}

.dashboard-row-2 {
  height: 360px;
}
