<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-push-3 col-lg-4 col-lg-push-4">
      <div class="page-header">
        <h1>Todo List</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-push-3 col-lg-4 col-lg-push-4">
      <ul class="list-group" ng-show="vm.hasTodos()">
        <li class="list-group-item" ng-repeat="todo in vm.todoList">
          <span ng-class="{ 'todo-done': todo.isDone() }"> {{ todo.getLabel() }}
          <button type="button" class="close" aria-label="Close" ng-click="todo.toggleDone()">
            <span ng-class="{ 'text-success': todo.isDone() }" class="glyphicon glyphicon-ok"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-push-3 col-lg-4 col-lg-push-4">
      <form class="form-inline">
        <div class="form-group">
          <label for="todo">Todo</label>
          <input type="text" class="form-control" id="todo" placeholder="Wash the car" ng-model="task.label">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="vm.addTodo(task)">Add Task</button>
        <button type="button" class="btn btn-danger" ng-click="vm.clearTodos()">Clear</button>
      </form>
    </div>
  </div>
</div>
